@charset "utf-8";

html,body {
	min-height: 100%;
	background: #dee0e3;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-seri;
	color: #383d48;
	overflow-x: hidden;
	font-size: 0.8em;
}

a {
	text-decoration: none;
}

/*
	Main Header
*/
body>header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	border-bottom: 1px solid #252932;
	height: 39px;
	background: #3a3f49;
	z-index: 10;
}

body>header .logo {
 	position: absolute;
	top: 18px;
	left: 50%;
	margin: -0.35em 0 0 -1.8em;
	width: 3.5em;
	height: 0.72em;
}

body > header a
{
	color: #fff;
	text-decoration: none;
}

body > header .logo a:hover {
	text-decoration: none;
}

body > header h1 {
display: block;
font-size: 20px;
-webkit-margin-before: 0.67em;
-webkit-margin-after: 0.67em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}

body > header nav.back {
	position: absolute;
	top: 10px;
	left: 5px;
}

body > header nav.main-menu {
	position: absolute;
	top: 10px;
	right: 5px;
}

/*
	Main menu
*/
#main-menu {
	padding-top: 40px;
	padding-bottom: 51px;
	width: 85%;
	border-right: 2px solid #252932;
	background: #3a3f49;
	display: none;
 	position: fixed;
	top: 0px;
	left:0px;
	z-index: 5;
	height: 100%;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

#main-menu .navigation dt {
	font-size: 1.2em;
	line-height: 1.8em;
	color: #74777c;
	font-weight: bold;
	background: #2f333b;
	padding: 0 0.83em;
}

#main-menu .navigation dd {
	font-size: 1.38em;
	line-height: 2.9em;
	border-top: 1px solid #2f333b;
	padding: 0 0.74em;
}

#main-menu .navigation dd p,
#main-menu .navigation dd a {
	position: relative;
	display: block;
	color: #dddfe1;
	vertical-align: middle;
	width: 100%;
	background-repeat: no-repeat;
	background-position: left center;
	background-size:20px auto;
}

#main-menu .navigation dd a span {
	margin-left: 30px;
}

#main-menu .navigation dd a.home {
	background-image: url("/images/sp/home.png");
}

#main-menu .navigation dd a.help {
	background-image: url("/images/sp/help.png");
}

#main-menu .navigation dd a.google-plus {
	background-image: url("/images/sp/google_plus.png");
}

#main-menu .navigation dd a img {
	vertical-align: baseline;
	margin-right: 10px;
}

.copyright {
	color: #dddfe1;
	font-size: 12px;
	padding-top: 30px;
	text-align: center;
}

.input_activity_button {
	width: 160px;
	display: block;
	background: #428ad6;
	box-shadow: inset 1px 1px 1px #61a3e8, inset -1px 0 1px #61a3e8, 0 1px
		0.1em rgba(1, 1, 1, 0.23);
	line-height: 2.8em;
	color: #ededed;
	padding: 0 1em;
	border-radius: 0.15em;
	font-weight: bold;
	border: 0;
	text-shadow: 0 -0.1em 0 rgba(27, 93, 162, 0.48);
	margin: 0 auto;
	text-align: center;
}

#main-menu #action-box {
padding: 20px 10px;
line-height: 1.25em;
}




/*
	user profile section
 */
#user-profile-section {
	margin-top: 40px;
	margin-bottom: 1em;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#profile {
	background: #404040;
	font-size: 10pt;
	margin: 0 auto;
	position: relative;
	top: 0;
	color: #dadfe3;
	display: table;
	table-layout: fixed;
	width: 100%;
	max-width: 990px;
	border-right: 1px solid #dadada;
	min-height: 157px;
	background-position: right top;
	background-size:100% auto;
	border-bottom: 1px solid #252932;
}

#profile #profile-contents-layer {
	opacity: 0.7;
	background-color: #121212;
	width:100%;
	height: 50%;
	position: absolute;
/* 	top: 0; */
	left:0;
	bottom:0;
}

#profile #profile-contents {
	width:90px;
	position: absolute;
	top: 0;
	left:0;
	bottom:0;
	padding: 10px;
	padding-top: 50px;
}

#profile p {
	color: #fff;
}

#profile-contents-layer {
	padding-left: 90px;
}

#profile-contents-layer p {
	margin-top: 15px;
	font-weight: bold;
}

#profile img.profile-img {
	border-radius: 50%;
}

#user_menu {
}

#user_menu li {
	display:inline-block;
}

#user_menu li a {
	display: block;
	color: #fff;
	font-size: 12px;
	padding: 20px 30px 15px 0px;
/* 	padding-right: 30px; */
	text-decoration: none;
	font-weight: bold;
}




/*
	Main Contents
*/
#contents section:last-child {
	margin-bottom: 20px;
}


.modal_close,
.btn-gray {
display: inline-block;
border: 1px solid #c3c3c3;
padding: 0 1em;
border-radius: 0.15em;
color: #4c4f53;
font-weight: bold;
background: #f0f0f0;
background: -webkit-linear-gradient(top, #fcfcfc,#f0f0f0);
background: -ms-linear-gradient(top, #fafafa,#f0f0f0);
background: -moz-linear-gradient(top, #fafafa,#f0f0f0);
background: -o-linear-gradient(top, #fafafa,#f0f0f0);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#f0f0f0');
box-shadow: 0 1px 1px rgba(0,0,0,0.1);
line-height: 2.45em;
font-size: 0.94em;
text-shadow: 0 1px 0 #fff;
border-color: #c3c3c3 #bebebe #b6b6b6;
text-decoration: none;
}



.ajax-result-panel {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 100%;
	height: 100%;
	min-height: 100%;
	z-index: 99;
	display: -moz-box;
	display: -webkit-box;
	-moz-box-align: center;
	-webkit-box-align: center;
	-moz-box-pack: center;
	-webkit-box-pack: center;
	display: none;
}

div#lean_overlay {
	background: #000;
	opacity: 0.5;
}

div#result-value-box {
	background: #fff;
	border: 1px solid #252932;
	padding: 20px 10px;
	width: 80%;
	min-width: 80%;
	-webkit-box-shadow: 0 0 40px rgba(0, 0, 0, .4);
	box-shadow: 0 0 40px rgba(0, 0, 0, .4);
	background-clip: padding-box;
	border: rgba(0, 0, 0, 0);
	text-align: center;
}

div#action-box {
	padding-top: 20px;
}



section.info-box article {
	margin-top: 0;
}

section.info-box {
	margin-top: 1.8em;
}

section.info-box:first-child {
	margin-top: 0;
}

.info-box h2 {
	line-height: 1.76em;
	padding-left: 1em;
	text-align: left;
	font-size: 1.5em;
}

.info-box article h3 {
	text-align: left;
	font-size: 1.3em;
	margin-top: 1.7em;
}

section.info-box p {
	margin-top: 1.0em;
}

ul.link-list {
list-style-type: none;
}

ul.link-list li {
position: relative;
border-bottom: 0.1em solid #e2e5e7;
}


ul.link-list li a {
display: block;
line-height: 1.22em;
padding: 0.92em 0.74em;
font-size: 1.3em;
color: #383d48;
}

ul.list-contents li {
	line-height: 1.8em;
	font-size: 1.3em;
	margin-left: 2em;
	margin-top: 0.5em;
}
